In [29]:
import numpy as np
import pandas as pd
from pathlib import Path

In [30]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [31]:
# Convert categorical data to numeric and separate target feature for training data
train_categorical = pd.get_dummies(train_df)

In [32]:
# Convert categorical data to numeric and separate target feature for testing data
test_categorical = pd.get_dummies(test_df)

In [36]:
len(train_categorical.columns)

96

In [37]:
len(test_categorical.columns)

95

In [38]:
# add missing dummy variables to testing set

# Get missing columns in the training test
missing_cols = set( train_categorical.columns ) - set( test_categorical.columns )

# Add a missing column in test set with default value equal to 0
for c in missing_cols:
    test_categorical[c] = 0
    
# Ensure the order of column in the test set is in the same order than in train set
new_test = test_categorical[train_categorical.columns]

In [39]:
len(train_categorical.columns)

96

In [40]:
len(new_test.columns)

96

In [45]:
train_df.head()

#Drop loan_status

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,N,N
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,n,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,N,N
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,n,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,N,N
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,n,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,N,N
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,n,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,N,N

In [41]:
# Train the Logistic Regression model on the unscaled data and print the model score

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [43]:
X, y = train_categorical

ValueError: too many values to unpack (expected 2)

In [ ]:
classifier = LogisticRegression()
classifier

In [ ]:
classifier.fit(X_train, y_train)

In [ ]:
# Train a Random Forest Classifier model and print the model score

In [ ]:
# Scale the data

In [ ]:
# Train the Logistic Regression model on the scaled data and print the model score

In [ ]:
# Train a Random Forest Classifier model on the scaled data and print the model score